@media (max-width:768px) {
  .navbar {
    height: 110px !important;
  }
}

@media (max-width:768px) {
  .indexL {
    height: 68.68px !important;
    width: 509px!important;
  }
}

@media (max-width:768px) {
  #header {
    height: 669px !important;
  }
}

@media (max-width:768px) {
  .progpic {
    display: none;
  }
}

@media (max-width:768px) {
  .pencil {
    display: none;
  }
}

@media (max-width:768px) {
  .analysis01 {
    display: none;
  }
}

@media (max-width:768px) {
  .analysis02 {
    display: none;
  }
}

@media (max-width:768px) {
  .analysis03 {
    display: none;
  }
}

@media (max-width:768px) {
  .people02 {
    display: none;
  }
}

@media (max-width:768px) {
  .bubble {
    display: none;
  }
}

@media (max-width:768px) {
  .cloud {
    display: none;
  }
}

@media (max-width:768px) {
  .network01 {
    display: none;
  }
}

@media (max-width:768px) {
  .network02 {
    display: none;
  }
}

@media (max-width:768px) {
  .network03 {
    display: none;
  }
}

@media (max-width:768px) {
  .network04 {
    display: none;
  }
}

@media (max-width:768px) {
  .visibleimg {
    height: 172px;
    padding-left: 20px;
  }
}

@media (max-width:768px) {
  #AENG {
    height: 565px!important;
    margin-bottom: 90px!important;
  }
}

@media (max-width:768px) {
  #ASC {
    height: 565px!important;
    margin-bottom: 90px!important;
  }
}

@media (max-width:768px) {
  #ASCAOAL {
    height: 630px!important;
    margin-bottom: 90px!important;
  }
}

@media (max-width:768px) {
  #ASCAVPS {
    height: 630px!important;
    margin-bottom: 170px!important;
  }
}

@media (max-width:768px) {
  #ASCBA {
    height: 650px!important;
    margin-bottom: 75px!important;
  }
}

@media (max-width:768px) {
  #ASCCIMP {
    height: 620px!important;
    margin-bottom: 90px!important;
  }
}

@media (max-width:768px) {
  #ASCAVPS {
    height: 383px!important;
  }
}

@media (max-width:768px) {
  #ASCES {
    height: 635px!important;
    margin-bottom: 75px!important;
  }
}

@media (max-width:768px) {
  #ASCISD {
    height: 740px!important;
    margin-bottom: 75px!important;
  }
}

@media (max-width:768px) {
  #ASCNSA {
    height: 730px!important;
  }
}

@media (max-width:768px) {
  #footerrow01 {
    height: 104px!important;
  }
}

@media (max-width:768px) {
  #footerrow02 {
    height: 140px!important;
  }
}

@media (max-width:768px) {
  #footerrow03 {
    height: 70px!important;
  }
}

@media (max-width:768px) {
  #footer {
    height: 455px!important;
  }
}

@media (max-width:768px) {
  #AST {
    font-size: 33px!important;
  }
}

@media (max-width:768px) {
  .activities {
    margin-bottom: 30px!important;
  }
}

@media (max-width:768px) {
  #header {
    height: 810px!important;
  }
}

@media (max-width:768px) {
  #footer02 {
    display: none;
  }
}

@media (max-width:768px) {
  #footer03 {
    display: none;
  }
}

@media (max-width:768px) {
  #footer06 {
    display: none;
  }
}

@media (max-width:768px) {
  #footer08 {
    display: none;
  }
}

@media (max-width:768px) {
  #footer09 {
    display: none;
  }
}

@media (max-width:768px) {
  #ENG01 {
    width: 100%!important;
  }
}

@media (max-width:768px) {
  #ENG02 {
    margin-top: -498px!important;
    margin-left: -15px!important;
  }
}

@media (max-width:768px) {
  #ENG03 {
    width: 350px;
    height: 87px;
    background-color: rgba(17,50,101,0.8);
    border-left: 4px solid;
    border-right: 0px!important;
    margin-left: 0px!important;
    margin-top: -76px!important;
    font-size: 17px;
  }
}

@media (max-width:768px) {
  #img01 {
    width: 100%!important;
  }
}

@media (max-width:768px) {
  #img02 {
    width: 100%;
  }
}

